<ul>
    {{#each recipes as |recipe|}}
    <li>
        <h2>
            {{recipe.name}}
        </h2>
        <p>
            {{recipe.meal}}

        </p>
        <p>
            {{recipes.user.name}}
        </p>
    </li>
    {{/each}}
</ul>