<div>
    <form>
        <label for="user-name">Username:</label>
        <input type="text" id="user-name" />
        <label for="user-password">Password:</label>
        <input type="password" id="user-password" />
        <input type="submit" id="postFormSubmit" name="formSubmit" value="Submit">

    </form>
</div>
<a href="/signup">Yoo Bros clike here to signup !</a>

<script src="/js/login.js"></script>