<div id="postDiv">
    <form id="myForm">
        <label for="post-title">Name of Dish</label>
        <input type="text" name="post-title" id="post-title">
        <br>
        <h3>Please add Ingredients here</h3> 
        <ul id="list"><button id="addIngredientBtn">Add Ingredient</button>
            <li class="listItem"><input type="text" class="ingredient" name="ingredientName"/></li>
        </ul>
        <br>
        <label for="meal">Which meal is this for?:</label>
        <select id="meal" name="meal">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>
        <br>
        <button id="nextStepBtn">Next Step</button>
        <br>
    </form>
</div> 


<script src="/js/post.js"></script>


