@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: 'Katibeh', cursive; */
}

/* Html & Body Section */
html {
    height:100%;
    scroll-behavior: smooth;  
}

body {
    position: absolute;
    width: 100%;
    background: #BBDAC7;
}

.card-bg {
    position: absolute;
    width: 1600px;
    height: 950px;
    
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 100px 20px rgba(132, 132, 132, 0.2);
    border-radius: 54px;
    background: #FFFFFF80;
}

.main-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    position: absolute;
    width: 1500px;
    height: 250px;
    background: #BBDAC7;
    margin-top: 25px;
    border-radius: 54px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-title,
h3,
.h1{
    font-family: 'Jacques Francois Shadow';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.card-left{
    height: 630px;
    width: 250px;
    border-radius: 30px;
    background: #ABCBE0;
    border-radius: 54px;

    box-shadow: 10px 10px 24px 0px #ABCBE0;
    margin-top: 300px;
    display: flex;
    align-self: flex-start;
    margin-left: 3.5%;
}


.card-info{
    font-family: 'Katibeh', cursive;
    margin-left: 25%;
    margin-top: 30%;
    font-size: 40px;
}

a:link,
a:visited{
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: underline;
    color: #FFFFFF80;
}

a:active{
    position:relative;
	top:1px;
}


#BreakFast,
#Lunch,
#Dinner,
#Recipe,
#signup {
    margin-top: 20%;
}

/* ######################################################################### */
/* Login & SignUP Section */

/* .signup-page,
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;

} */

/* .login-page .signup-page .form .login .signup{
    margin-top: -31px;
    margin-bottom: 26px;
} */

.form {
    position: relative;
    /* z-index: 1; */
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: 'Katibeh', cursive;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 25px;
}

.form button {
    font-family: 'Katibeh', cursive;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 15px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
  
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
  
.signup-page,
.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100%;
    height: 630px;
    width: 360px;

    margin-left: 25%;
}

/* LogOut btn  */
#logout{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#logout:hover{
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

#logout:active{
    position:relative;
	top:1px;
}